env/
*.pyc
.ipynb_checkpoints/
# train_call is a file storing the commandline used to call train.py. Really I
# need a better configuration format than the current argument-based format I'm
# using
train_call
